<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Chat demo</title>
</head>
<body>
<div>Sending message via JavaScript</div>
<div>
    <label for="connectionInput">IP Address</label>
    <input id="connectionInput" type="text" >
</div>
<div>
    <button id="connectionBtn" type="button">Connect</button>
    <button id="disconnectionBtn" type="button">Disconnect</button>
</div>

<div>Sending messages</div>
<div>
    <label for="sendInput">Send messages</label>
    <input id="sendInput" type="text" >
    <button id="sendBtn">Submit</button>
</div>

<a onclick="refresh()" href>Refresh messages</a>
<div>Messages:</div>
<div th:each="message, stat: ${messages}">
    <div th:text="${message}"></div>
</div>
<a th:href="@{/clearMessages}">Clear messages</a>


<script src="/text.js"></script>
</body>
</html>
